/* TEST TEST TEST*/

.bc-blue {
    background: #65c8d0 !important;
    filter: brightness(85%) !important;
}

.fill-bc-primary {
    fill: #65c8d0 !important;
}

.fill-bc-secondary {
    fill: #34686c !important;
}

.fill-bc-tertiary {
    fill: #193234 !important;
}

.fill-bc-light {
    fill: #69b1b7 !important;
}

.bg-bc-primary {
    background-color: #65c8d0 !important;
}

.bg-bc-secondary {
    background-color: #34686c !important;
}

.bg-bc-tertiary {
    background-color: #193234 !important;
}

.bg-bc-light {
    background-color: #69b1b7 !important;
}

.btn-bc-primary {
    color: #fff;
    background-color: #65c8d0 !important;
    border-color: #65c8d0 !important;
}

.btn-bc-secondary {
    color: #fff;
    background-color: #34686c !important;
    border-color: #34686c !important;
}

.btn-bc-tertiary {
    color: #fff;
    background-color: #193234 !important;
    border-color: #193234 !important;
}

.btn-bc-light {
    color: #fff;
    background-color: #69b1b7 !important;
    border-color: #69b1b7 !important;
}